<lg-changepass-dialog></lg-changepass-dialog>
<h1 class="logo">
    <span class="logo-d">{{ "systemName" | translate: "COMMON" }}</span>
</h1>
<div class="auth-main">
  <div class="auth-block"
        [ngClass]="{ 'hide': hideLogin }">
    <h1>{{ "loginHeader" | translate: "CMS010" }}</h1>
    <div [formGroup]="ctrlMgr.form" class="form-horizontal">
      <div class="row">
        <div class="col-sm-12 form-group">
            <label class="form-control-label">{{ "username" | translate: "CMS010" }}</label>
            <ctm-textbox 
                formControlName="Username"
                [error]="ctrlMgr.error('Username')"
                (keypress)="onUsernameKeypress($event)"
            #userName></ctm-textbox>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 form-group">
            <label class="form-control-label">{{ "password" | translate: "CMS010" }}</label>
            <ctm-textbox 
                type="password"
                maxlength="20"
                formControlName="Password"
                [error]="ctrlMgr.error('Password')"
                (keypress)="onPasswordKeypress($event)"
            #password></ctm-textbox>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-command">
          <button type="button" class="btn btn-default btn-success btn-auth" (click)="onSubmit()">{{ "loginButton" | translate: "CMS010" }}</button>
        </div>
      </div>
    </div>
  </div>
</div>
