<div class="page-top clearfix" baScrollPosition maxHeight="50" (scrollChange)="scrolledChanged($event)"
     [ngClass]="{scrolled: isScrolled}">
    <!-- <a href (click)="toggleMenu()" class="collapse-menu-link ion-navicon"></a> -->
    <a routerLink="/s/project" class="al-logo clearfix">
        <span class="logo-h">{{ "companyName" | translate: "COMMON" }}</span>
        <span class="logo-d">{{ "systemName" | translate: "COMMON" }}</span>
    </a>
    <div class="user-profile clearfix">
        <div class="dropdown al-user-profile">
            <a class="profile-toggle-link dropdown-toggle" id="user-profile-dd" data-toggle="dropdown" aria-expanded="false">
                <img src="{{ ( 'no-photo' | baProfilePicture ) }}">
            </a>
            <ul class="dropdown-menu top-dropdown-menu profile-dropdown" aria-labelledby="user-profile-dd">
                <li class="dropdown-item first">
                    <a (click)="onShowUserInfo()" class="dropdown-arr">ข้อมูลส่วนตัว</a>
                </li>
                <li class="dropdown-item language">
                    <a (click)="onChangeLanguage('th-TH')"><img src="{{ ( 'thailand' | ctmNationalityPicture ) }}"></a>
                    <a (click)="onChangeLanguage('en-US')"><img src="{{ ( 'united-states' | ctmNationalityPicture ) }}"></a>
                </li>
                <li class="dropdown-item signout">
                    <a (click)="onLogout()"><i class="fa fa-power-off"></i>{{ "logout" | translate: "COMMON" }}</a>
                </li>
            </ul>
        </div>
        <h4 class="profile-name">{{ currentUserName }}<img src="{{ ( currentLanguage | ctmNationalityPicture ) }}"></h4>
    </div>
</div>
