<div class="container-fluid">
    <div class="card">
    <div class="card-block">
        <div class="card-title">
            <div class="row">
                <div class="col-xl-4 pull-left">
                    <h1>Project</h1>
                </div>
                <div class="col-xl-2 offset-xl-6 " >
                    
                    <button (click)="NewProject()" class="btn btn-primary">Create Project</button>
                </div>
            </div>
        </div>

        <ctm-table
            [table-data]="resultData"> 
            <!-- <colgroup ctm-table-columns>
                <col class="table-col-number">
                <col class="table-col-delete">
                <col class="table-col-group-id">
                <col class="table-col-group-name">
                <col class="table-col-description">
                <col class="table-col-flag">
            </colgroup> -->
            <thead ctm-table-header>
                <tr class="black-muted-bg" >
                    <th class="align-center">No.</th>            
                    <th class="align-center">Project Name</th>
                    <th class="align-center">Owner Name</th>
                    <th class="align-center">Action</th>
                </tr>
            </thead>
            <tbody ctm-table-data>
                <tr> 
                    <td class="table-col-number">1</td>
                    <td class="align-left">Issue Tracking</td>
                    <td class="align-left">บาสไง บาสเอง</td>
                    <th class="align-center" nowrap>
                        <button (click)="ClickIssue()" class="btn btn-primary">View</button>
                        <button (click)="ClickDetail()" class="btn btn-warning">Details</button>
                        <button (click)="ClickReport()" class="btn btn-success">Report</button>
                    </th>
                </tr>
            </tbody>    
        </ctm-table>

       
    </div>
    </div>



</div>