<ctm-search-criteria class="row col-md-12" [formGroup]="criteriaCtrlMgr.form" id="search_master">
     
        <label class="form-control-label">{{ "type" | translate: "MAS001" }}</label>
        <md2-autocomplete autocomplete-key="SMALL_MASTER"
                            autocomplete-placeholder="SELECT"
                            formControlName="MSTCode" 
                            (change)="onChangeAuto()"></md2-autocomplete>
</ctm-search-criteria>
<!--<div class="row">
    <div class="col-sm-12">
        <button type="button" class="btn btn-primary" (click)="onSubmit()">{{ "editButton" | translate: "COMMON" }}</button>
    </div>
</div>-->
<ctm-screen-command></ctm-screen-command>
<div class="row">
    <ctm-table class="col-md-12"
    [table-data]="resultData">
        <thead ctm-table-header>
            <tr class="black-muted-bg">
                <th class="align-center">{{ "ValueCode" | translate: "MAS001" }}</th>
                <th class="align-center">{{ "Description" | translate: "MAS001" }}</th>
                <th class="align-center">{{ headTable.Value1Description }}</th>
                <th class="align-center">{{ headTable.Value2Description }}</th>
                <th class="align-center">{{ headTable.Value3Description }}</th>
                <th class="align-center">{{ "other" | translate: "MAS001" }}</th>
            </tr>
        </thead>
        <tbody ctm-table-data>
            <tr *ngFor="let row of resultData.rows"> 
                <td class="table-col-number">
                    <ctm-textbox 
                            *ngIf="codeComand"
                             value="{{ row.ValueCode }}"
                             ></ctm-textbox>
                    <span *ngIf="!codeComand">{{ row.ValueCode }}</span>
                    </td>
                <td class="table-col-number">{{ row.Description }}</td>
                <td class="table-col-number">{{ row.Value1 }}</td>
                <td class="table-col-number">{{ row.Value2 }}</td>
                <td class="table-col-number">{{ row.Value3 }}</td>
                <td class="table-col-number">{{ row.FlagDefault }}</td>
            </tr>
        </tbody>    
    </ctm-table>
</div>