<h1>Group</h1>

<ctm-table
    [table-data]="resultData">
    <!-- <colgroup ctm-table-columns>
        <col class="table-col-number">
        <col class="table-col-delete">
        <col class="table-col-group-id">
        <col class="table-col-group-name">
        <col class="table-col-description">
        <col class="table-col-flag">
    </colgroup> -->
    <thead ctm-table-header>
        <tr class="black-muted-bg">
            <th class="align-center">No.</th>            
            <th class="align-center">Name</th>
            <th class="align-center">Now Position</th>
            <th class="align-center">New Position</th>
            <th class="align-center">Action</th>
        </tr>
    </thead>
    <tbody ctm-table-data>
        <tr> 
            <td class="table-col-number">1</td>
            <td class="align-left">บาสไง บาสเอง</td>
            <td class="align-left">PG</td>
            <td class="align-left">Manager</td>
            <th class="align-center">
                <button class="btn btn-warning">Cancel</button>
                <button class="btn btn-success">OK</button>
            </th>
        </tr>
    </tbody>    
</ctm-table>

<ctm-table
    [table-data]="resultData">
    <!-- <colgroup ctm-table-columns>
        <col class="table-col-number">
        <col class="table-col-delete">
        <col class="table-col-group-id">
        <col class="table-col-group-name">
        <col class="table-col-description">
        <col class="table-col-flag">
    </colgroup> -->
    <thead ctm-table-header>
        <tr class="black-muted-bg">
            <th class="align-center">No.</th>            
            <th class="align-center">Name</th>
            <th class="align-center">From</th>
            <th class="align-center">To</th>
            <th class="align-center">Date</th>
        </tr>
    </thead>
    <tbody ctm-table-data>
        <tr> 
            <td class="table-col-number">1</td>
            <td class="align-left">บาสไง บาสเอง</td>
            <td class="align-left">PG</td>
            <td class="align-left">Manager</td>
            <td class="align-center">12/08/2559 </td>
        </tr>
    </tbody>    
</ctm-table>