<md2-dialog dialog-class="message-dialg"
            dialog-zindex="1001"
            (onClose)="onMessageClose()" #messageDlg>
    <div class="row">
        <div class="col-image">
            <i *ngIf="showInfoIcon"
               class="fa fa-info-circle" aria-hidden="true"></i>
            <i *ngIf="showWarningIcon"
               class="fa fa-exclamation-circle" aria-hidden="true"></i>
            <i *ngIf="showQuestionIcon"
               class="fa fa-question-circle" aria-hidden="true"></i>
            <i *ngIf="showErrorIcon"
               class="fa fa-times-circle" aria-hidden="true"></i>
        </div>
        <div class="col-message">
            <p [innerHTML]="message"></p>
        </div>
        
    </div>
    <md2-dialog-footer>
        <button type="button" class="btn btn-success" 
                *ngIf="showOKButton"
                (click)="onOKClick()">{{ "okButton" | translate: "COMMON" }}</button>
        <button type="button" class="btn btn-danger" 
                *ngIf="showCloseButton"
                (click)="onCloseClick()">{{ "closeButton" | translate: "COMMON" }}</button>
        <button type="button" class="btn btn-success" 
                *ngIf="showYesButton"
                (click)="onYesClick()">{{ "yesButton" | translate: "COMMON" }}</button>
        <button type="button" class="btn btn-danger" 
                *ngIf="showNoButton"
                (click)="onNoClick()">{{ "noButton" | translate: "COMMON" }}</button>
        <button type="button" class="btn btn-danger" 
                *ngIf="showCancelButton"
                (click)="onCancelClick()">{{ "cancelButton" | translate: "COMMON" }}</button>
    </md2-dialog-footer>
</md2-dialog>