
<div class="col-xl-8 offset-xl-2 ">
    <div bacardblur="" zoom-in="" class="animated fadeIn card  with-scroll">
        <div class="card-block">
            <h1 class="card-title" translate="" align="center">ข้อมูลส่วนตัว</h1>
            
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputEmail3">FirstName</label>
                    <div class="col-xl-5">
                    <input class="form-control" id="inputEmail3" placeholder="FirstName" type="FirstName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputEmail3">LastName</label>
                    <div class="col-xl-5">
                    <input class="form-control" id="inputEmail3" placeholder="LastName" type="LastName">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputEmail3">Position</label>
                    <div class="col-xl-4">
                        <select _ngcontent-c3="" class="form-control" id="exampleSelect1">
                            <option _ngcontent-c3="">PG</option>
                            <option _ngcontent-c3="">SA</option>
                            <option _ngcontent-c3="">Tester</option>
                            <option _ngcontent-c3="">Goo</option>
                            <option _ngcontent-c3="">Greed</option>
                        </select>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputEmail3">PhoneNumber</label>
                    <div class="col-xl-3">
                    <input class="form-control" id="inputEmail3" placeholder="PhoneNumber" type="PhoneNumber">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputEmail3">Email</label>
                    <div class="col-xl-5">
                    <input class="form-control" id="inputEmail3" placeholder="Email" type="email">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputPassword3">Password</label>
                    <div class="col-xl-3">
                    <input class="form-control" id="inputPassword3" placeholder="Password" type="password">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-xl-2 offset-xl-2 form-control-label" for="inputPassword3">Re-Password</label>
                    <div class="col-xl-3">
                    <input class="form-control" id="inputPassword3" placeholder="Password" type="password">
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <div class="offset-xl-4 col-xl-4">
                    <div class="checkbox">
                        <div _ngcontent-c5="" class="">
                        <label _ngcontent-c5="" class="checkbox-inline custom-checkbox nowrap">
                            <input _ngcontent-c5="" type="checkbox" value="undefined">
                            <span _ngcontent-c5="">Remember me</span>
                        </label>
                        </div>
                    </div>
                    </div>
                </div> -->
        
        </div> 
        <div class="card-footer">
            <div class="row">
                <div class="offset-xl-2 col-xl-2 " align="center">
                    <button class="btn btn-default col-xl-12" type="submit">Clear</button>
                </div>
                <div class="offset-xl-3 col-xl-2" align="center">
                    <button class="btn btn-warning col-xl-12" type="submit">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>