<ba-sidebar></ba-sidebar>
<ba-page-top></ba-page-top>
<div class="al-main">
    <div class="al-content">
        <div class="content-loading">
            <div class="overlay"></div>
            <div class="spin">
                <div></div>
            </div>
        </div>
        <ba-content-top></ba-content-top>
        <router-outlet></router-outlet>
    </div>
</div>
<footer class="al-footer clearfix">
    <span>Ver. {{ applicationVersion }}</span>
</footer>
<ba-back-top position="200"></ba-back-top>