
<ctm-screen-command></ctm-screen-command>
<div class="row " [formGroup]="ctrlMgr.form">
    <div class="col-12 col-xl-5">
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label" required>{{ "Type" | translate: "MAS021" }}</label>
                <md2-autocomplete autocomplete-key="BRAND"
                              autocomplete-placeholder="SELECT"
                              formControlName="BrandCode"
                              (select)="onSelect()"></md2-autocomplete>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label" required>{{ "BranchCode" | translate: "MAS021" }}</label>
                <ctm-textbox  
                                     formControlName="BranchCode"
                                     [maxlength]="20"
                                     [error]="ctrlMgr.error('BranchCode')"></ctm-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label">{{ "BranchName" | translate: "MAS021" }}</label>
                 <ctm-textbox 
                                     formControlName="BranchName"
                                     [maxlength]="20"
                                     [error]="ctrlMgr.error('BranchName')"></ctm-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label">{{ "BranchShortEN" | translate: "MAS021" }}</label>
                 <ctm-textbox 
                                     formControlName="BranchShortNameEN"
                                     [maxlength]="20"
                                     [error]="ctrlMgr.error('BranchShortNameEN')"></ctm-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label" required>{{ "BranchShortTH" | translate: "MAS021" }}</label>
                <ctm-textbox formControlName="BranchShortNameTH"
                             [maxlength]="100" 
                             [error]="ctrlMgr.error('BranchShortNameTH')"></ctm-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label" required>{{ "BillHeader" | translate: "MAS021" }}</label>
                <ctm-textbox formControlName="BillHeader"
                             [maxlength]="100"
                             [error]="ctrlMgr.error('BillHeader')"></ctm-textbox>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label" required>{{ "LocationCode" | translate: "MAS021" }}</label>
                <md2-autocomplete autocomplete-key="Location_Code"
                                  formControlName="LocationCode"
                                  [error]="ctrlMgr.error('LocationCode')"></md2-autocomplete>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-6 form-group">
                <label class="form-control-label" required>{{ "BranchAddress" | translate: "MAS021" }}</label>
                <ctm-textarea formControlName="BranchAddress"
                                  [error]="ctrlMgr.error('BranchAddress')"></ctm-textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-3 form-group">
                <label class="form-control-label" required>{{ "ProvinceID" | translate: "MAS021" }}</label>
                <md2-autocomplete   autocomplete-key="Province"
                                    autocomplete-placeholder="SELECT"
                                    formControlName="ProvinceID"
                                    (select)="onSelectProvince()"
                                    [error]="ctrlMgr.error('ProvinceID')"></md2-autocomplete>
            </div>
            <div class="col-xl-3 form-group">
                <label class="form-control-label" required>{{ "CantonID" | translate: "MAS021" }}</label>
                <md2-autocomplete   autocomplete-key="Canton"
                                    autocomplete-placeholder="SELECT"
                                    formControlName="CantonID"
                                    autocomplete-default-value="onSelectProvince()"
                                    (select)="onSelect()"
                                    [error]="ctrlMgr.error('CantonID')"></md2-autocomplete>
            </div>
            <div class="col-xl-3 form-group">
                <label class="form-control-label" required>{{ "DistrictID" | translate: "MAS021" }}</label>
                <md2-autocomplete autocomplete-key="District"
                              autocomplete-placeholder="SELECT"
                              formControlName="DistrictID"
                              (select)="onSelect()"
                                  [error]="ctrlMgr.error('DistrictID')"></md2-autocomplete>
            </div>
            <div class="col-xl-3 form-group">
                <label class="form-control-label" required>{{ "ZipCode" | translate: "MAS021" }}</label>
                <ctm-textbox formControlName="ZipCode"
                             [maxlength]="5"
                                  [error]="ctrlMgr.error('ZipCode')"></ctm-textbox>
            </div>
            <div class="col-xl-3 form-group">
                <label class="form-control-label" required>{{ "TelNo" | translate: "MAS021" }}</label>
                <ctm-textbox formControlName="TelNo"
                             [maxlength]="13"
                                  [error]="ctrlMgr.error('TelNo')"></ctm-textbox>
            </div>
            <div class="col-xl-3 form-group">
                <label class="form-control-label" required>{{ "FaxNo" | translate: "MAS021" }}</label>
                <ctm-textbox formControlName="FaxNo"
                             [maxlength]="13"
                                  [error]="ctrlMgr.error('FaxNo')"></ctm-textbox>
            </div>
        </div>
        <div class="row form-group">
            <div class="col-xl-12 card-group ">
                <div class="card card-search ng-pristine ng-invalid ng-touched">
                    <div class="card-block">
                    <h4 class="card-title">{{ "Template" | translate: "MAS021" }}</h4>
                    <label class="form-control-label" required>{{ "TemplateFood" | translate: "MAS021" }}</label>
                    <md2-autocomplete autocomplete-key="Template_menu"
                                  formControlName="TemplateID"
                                  [error]="ctrlMgr.error('LocationCode')"></md2-autocomplete>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-xl-8 card-group form-group">
                    <h4 class="card-title">{{ "Tax" | translate: "MAS021" }}</h4>
                    <div class="card card-search ng-pristine ng-invalid ng-touched">
                        <div class="card-block">
                            <div class="row">
                                <div class="col-xl-7">
                                    <label class="form-control-label " required>{{ "TaxNo" | translate: "MAS021" }}</label>
                                    <ctm-textbox formControlName="TaxID"
                                            [maxlength]="13"
                                  [error]="ctrlMgr.error('TaxID')"></ctm-textbox>
                                </div>
                                <div class="col-xl-5">
                                    <label class="form-control-label" required>{{ "TaxBranchCode" | translate: "MAS021" }}</label>
                                    <ctm-textbox formControlName="TaxBranchCode"
                                            [maxlength]="13"
                                  [error]="ctrlMgr.error('TaxBranchCode')"></ctm-textbox>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="col-xl-4 card-group form-group">
                <h4 class="card-title">{{ "Service" | translate: "MAS021" }}</h4>
                <div class="card card-search ng-pristine ng-invalid ng-touched">
                    <div class="card-block">
                    <label class="form-control-label" required>{{ "ServiceCharge" | translate: "MAS021" }}</label>
                    <md2-autocomplete autocomplete-key="ServiceCharge"
                              autocomplete-placeholder="SELECT"
                              formControlName="ServiceCharge"
                              (select)="onSelect()"
                                  [error]="ctrlMgr.error('ServiceCharge')"></md2-autocomplete>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <div class="col-12 col-xl-7">
        <div class="row card-group">
                
                <div class="card card-search ng-pristine ng-invalid ng-touched">
                    <div class="card-block">
                        <div class="card-title ">
                            <div class="row">
                            <div class="d-block col-xl-2">
                                <h4>{{ "Zone" | translate: "MAS021" }}</h4>
                            </div>
                        <div class="navbar navbar-light navbar-command col-xl-10">
                        <div class="form-inline">
                            <div class="input-group ml-auto mb-2 ">
                                <button class="btn btn-command btn-success mr-2 "
                                    [disabled]="addCommandDisabled" 
                                    (click)="onAddClick()">
                                    <i class="fa fa-file-text-o fa-fw" aria-hidden="true"></i>
                                    <span>{{ "addButton" | translate: "COMMON" }}</span>
                                </button>
                                <button class="btn btn-command btn-primary mr-2 "
                                        [disabled]="editCommandDisabled" 
                                        (click)="onEditClick()">
                                        <i class="fa fa-pencil-square-o fa-fw" aria-hidden="true"></i>
                                        <span>{{ "editButton" | translate: "COMMON" }}</span>
                                </button>
                                <button class="btn btn-command btn-danger "
                                        [disabled]="deleteCommandDisabled" 
                                        (click)="onDeleteClick()">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                        <span>{{ "deleteButton" | translate: "COMMON" }}</span>
                                </button>
                            </div>
                            <div class="input-group ml-auto mb-2"
                                *ngIf="useUpdateCommand || useCancelCommand">
                                <button class="btn btn-command btn-success mr-2"
                                    [disabled]="updateCommandDisabled"
                                    (click)="onUpdateClick()">
                                    <i class="fa fa-floppy-o fa-fw" aria-hidden="true"></i>
                                    <span>{{ "saveButton" | translate: "COMMON" }}</span>
                                </button>
                                <button class="btn btn-command btn-danger"
                                    [disabled]="cancelCommandDisabled" 
                                    (click)="onCancelClick()">
                                    <i class="fa fa-undo fa-fw" aria-hidden="true"></i>
                                    <span>{{ "cancelButton" | translate: "COMMON" }}</span>
                                </button>
                            </div>
                        </div>    
                        </div>
                            </div>
                        </div> <!-- - end card-title -->
                        <div class="row">
                        <div class="horizontal-scroll col-xl-5">
                            <ctm-table 
                                [show-information]="false"
                                [show-display-page]="false"
                                [show-pagging]="false"
                                [table-hover]="false"
                                [table-fixed-header]="true"
                                [table-data]="resultData" >
                            <thead ctm-table-header>
                                <tr class="black-muted-bg">
                                    <th class="align-center">{{ "Zone" | translate: "MAS021" }}</th>
                                    <th class="align-center">{{ "ZoneMain" | translate: "MAS021" }}</th>
                                    <th class="align-center">{{ "TypeServe" | translate: "MAS021" }}</th>
                                </tr>
                            </thead>
                            <tbody ctm-table-data>
                                <tr *ngFor="let row of resultData.rows" (click)="onSelectRow(row)"> 
                                    <td class="align-center">{{row.ZoneName}}</td>
                                    <td class="align-center">
                                                            <span class="ion-checkmark-round" *ngIf="row.FlagDefault"></span></td>
                                    <td class="align-center">{{row.TakeAwayName}}</td>
                                </tr>
                            </tbody>    
                            </ctm-table>
                        </div>
                        <div class="col-xl-7 ">
                            <div class="row card-group">
                                <h4 class="card-title">{{ "ZoneData" | translate: "MAS021" }}</h4>
                                <div class="card card-search ng-pristine ng-invalid ng-touched">
                                    <div class="card-block">
                                        <div class="col-xl-12">
                                            <div class="row ">
                                                <div class="col-xl-12 form-group">
                                                <label class="form-control-label" required>{{ "ZoneName" | translate: "MAS021" }}</label>
                                                <ctm-textbox formControlName="ZoneName"
                                                        [maxlength]="13"></ctm-textbox>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-xl-12 form-group">
                                                <label class="form-control-label" required>{{ "ZoneDescription" | translate: "MAS021" }}</label>
                                                <ctm-textbox formControlName="Remark"
                                                        [maxlength]="13"></ctm-textbox>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-xl-4">
                                                    <label class="form-control-label" required>{{ "TableName" | translate: "MAS021" }}</label>
                                                    <ctm-textbox formControlName="TablePrefix"
                                                            [maxlength]="13"></ctm-textbox>
                                                </div>
                                                <div class="col-xl-4">
                                                    <label class="form-control-label" required>{{ "TableNo" | translate: "MAS021" }}</label>
                                                    <ctm-textbox formControlName="TableNo"
                                                            [maxlength]="13"></ctm-textbox>
                                                </div>
                                                <div class="col-xl-4">
                                                    <label class="form-control-label" required>{{ "To" | translate: "MAS021" }}</label>
                                                    <ctm-textbox formControlName="To"
                                                            [maxlength]="13"></ctm-textbox>
                                                </div>
                                            </div>
                                            <div class="row from-group">
                                                <div class="col-xl-7">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                        <label 
                                                            class="custom-control custom-checkbox">
                                                            <input type="checkbox"  class="custom-control-input"
                                                                                    formControlName="ServiceCharge2">
                                                            {{ "ServiceCharge" | translate: "MAS021" }}
                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                        <label 
                                                            class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                                    formControlName="FlagActive">
                                                            {{ "Available" | translate: "MAS021" }}
                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xl-5">
                                                    <div class="row">
                                                        <div class="col-xl-12">
                                                        <label 
                                                            class="custom-control custom-checkbox">
                                                            <input type="checkbox" class="custom-control-input"
                                                                                    formControlName="FlagDefault">
                                                            {{ "ZoneMain" | translate: "MAS021" }}
                                                            <span class="custom-control-indicator"></span>
                                                        </label>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-xl-12"> 
                                                        <label class="form-control-label" required>{{ "TypeServe" | translate: "MAS021" }}</label>
                                                        <md2-autocomplete autocomplete-key="Menu_TakeAway"
                                                        autocomplete-placeholder="SELECT"
                                                        formControlName="ConstantValue"
                                                        (select)="onSelect()"
                                                            [error]="ctrlMgr.error('ServiceCharge')"></md2-autocomplete>
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>      
</div>