@import "../../common/style/conf";

$text-color: #ffffff;

.logo {
    position: fixed;
    bottom: 0;
    right: 0;
    text-align: right;
    padding: 5px 10px;
    margin: 0;
    z-index: 1;
    color: $text-color;

    span {
        display: block;
        width: 100%;

        &.logo-h {
            font-size: 14px;
        }

        &.logo-d {
            font-size: 12px;
        }
    }
}

.auth-main {
  display: flex;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;

  background: #00c6fe; /* Old browsers */
  background: -webkit-linear-gradient(#00c6fe 17%, #006bb3 100%);
  background: -moz-linear-gradient(#00c6fe 17%, #006bb3 100%);
  background: -o-linear-gradient(#00c6fe 17%, #006bb3 100%);
  background: linear-gradient(#00c6fe 17%, #006bb3 100%);

 /* FF3.6-15 */
 /* Chrome10-25,Safari5.1-6 */
 /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00c6fe', endColorstr='#006bb3',GradientType=0 ); /* IE6-9 */
}

.auth-block {
    position: relative;
    width: 300px;
    margin: 0 auto;
    border: solid 2px rgba(#333, 0.6);
    border-radius: 5px;

    background: #fff;
    color: $default-text;
    padding: 15px;

    &.hide {
        display: none;
    }
    
    h1 {
        font-weight: $font-light;
        text-align: center;
        margin: 10px 0 20px 0;
    }

    .form-horizontal {
        label {
            line-height: 24px;
        }
    }


    p {
        font-size: 16px;
    }

    a {
        text-decoration: none;
        outline: none;
        transition: all 0.2s ease;
        color: $primary;

        &:hover {
            color: $primary-dark;
        }
    }

    .control-label {
        padding-top: 11px;
        color: $text-color;
    }

    .form-group {
        margin-bottom: 60px;
    }

    .form-group-row {
        margin-bottom: 30px;
    }
    .col-command {
        text-align: center;
        margin-top: 20px;

        .btn-auth {
            color: #ffffff !important;
            width: 120px;
            height: 40px;
        }
    }
}

    .auth-input {
        width: 300px;
        margin-bottom: 24px;

        input {
            display: block;
            width: 100%;
            border: none;
            font-size: 16px;
            padding: 4px 10px;
            outline: none;
        }
    }

    a.forgot-pass {
        display: block;
        text-align: right;
        margin-bottom: -20px;
        float: right;
        z-index: 2;
        position: relative;
    }

    .auth-link {
        display: block;
        font-size: 16px;
        text-align: center;
        margin-bottom: 33px;
    }

    .auth-sep {
        margin-top: 36px;
        margin-bottom: 24px;
        line-height: 20px;
        font-size: 16px;
        text-align: center;
        display: block;
        position: relative;

        & > span {
            display: table-cell;
            width: 30%;
            white-space: nowrap;
            padding: 0 24px;
            color: $text-color;

            & > span {
                margin-top: -12px;
                display: block;
            }
        }

        &:before, &:after {
            border-top: solid 1px $text-color;
            content: "";
            height: 1px;
            width: 35%;
            display: table-cell;
        }
    }

    .al-share-auth {
        text-align: center;

        .al-share {
            float: none;
            margin: 0;
            padding: 0;
            display: inline-block;

            li {
                margin-left: 24px;

                &:first-child {
                    margin-left: 0;
                }

                i {
                    font-size: 24px;
                }
            }
        }
    }

    .btn-auth {
        color: #ffffff !important;
    }
